:root {
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;

    --root-font-size: 16px;
    font-size: var(--root-font-size);

    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}

h1 {
    font-size: 1.125rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--root-font-size);
}

main {
    margin: 10px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

#player,
#playlist {
    width: 450px;
    padding: 10px;
    background-color: var(--background-color);
    border: 3px solid var(--foreground-color);
}

#player {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#player-bar,
#playlist-bar {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    background-color: var(--foreground-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parallel-lines {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
}

.parallel-lines div {
    width: 100%;
    min-width: 75px;
    height: 2px;
    background-color: var(--highlight-color);
}

#player-bar .parallel-lines div {
    min-width: 61px;
}

#music-player-title,
#playlist-title {
    text-align: center;
    color: var(--secondary-color);
    margin: 0 10px;
    font-family: var(--font-headline);
}

#player-content {
    width: 430px;
    height: 200px;
    background-color: var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
}

#player-album-art {
    background-color: var(--secondary-color);
    border: 6px solid var(--background-color);
}

#player-album-art img {
    width: 150px;
    display: block;
}

#player-display {
    width: 226px;
    height: 153px;
    background-color: var(--background-color);
    padding: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.player-display-song-artist {
    height: 80px;
}

#player-song-artist {
    color: var(--highlight-color);
    font-size: 0.75rem;
}

#player-song-title {
    font-size: 1.125rem;
}

.player-buttons {
    display: flex;
    justify-content: space-around;
}

.player-buttons svg {
    fill: var(--primary-color);
}

.playing>svg {
    fill: var(--highlight-color);
}

button {
    background: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: var(--root-font-size);
    outline-color: var(--highlight-color);
    text-align: center;
}

.player-buttons button :hover {
    fill: var(--highlight-color);
}

#playlist {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#playlist-songs {
    width: 430px;
    height: 100%;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    padding: 8px 9px;
    visibility: visible;
    justify-content: start;
    list-style: none;
}

.playlist-song {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#playlist li:not(:last-child) {
    border-bottom: 1px solid var(--background-color);
}

[aria-current="true"] {
    background-color: var(--background-color);
}

[aria-current="true"] span {
    color: var(--highlight-color);
}

[aria-current="true"] path {
    fill: var(--highlight-color);
}

.playlist-song-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 7px;
    padding: 5px 0;
    font-family: var(--font-family);
}

.playlist-song-title {
    font-size: 0.85rem;
    width: 220px;
    text-align: left;
}

.playlist-song-artist {
    font-size: 0.725rem;
    width: 100px;
}

.playlist-song-duration {
    font-size: 0.725rem;
    margin: auto;
    font-family: var(--font-headline);
    width: 30px;
}

.playlist-song-delete {
    height: 20px;
    padding-left: 5px;
}

.playlist-song-delete,
.playlist-song-delete {
    fill: var(--foreground-color);
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
    fill: #ff0000;
}

@media (max-width: 700px) {

    #player,
    #playlist {
        width: 300px;
    }

    #player {
        height: 340px;
    }

    #playlist-songs {
        height: 280px;
        padding: 5px 6px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: var(--background-color) var(--secondary-color);
        scrollbar-width: thin;
    }

    #playlist-songs::-webkit-scrollbar {
        width: 5px;
    }

    #playlist-songs::-webkit-scrollbar-track {
        background: var(--background-color);
    }

    #playlist-songs::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
    }

    h1 {
        font-size: 0.813rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    #player-bar,
    #playlist-bar,
    #player-content,
    #playlist-songs {
        width: 280px;
    }

    #player-bar .parallel-lines div {
        min-width: 40px;
    }

    #music-player-title {
        width: 110px;
    }

    .playlist-song {
        height: 85px;
    }

    .playlist-song-info {
        height: 75px;
    }

    .playlist-song-title {
        width: 87.5px;
    }

    .playlist-song-artist {
        width: 87.5px;
    }

    .playlist-song-duration>button {
        padding: 0;
    }

    #player-content {
        display: inline;
        position: relative;
        justify-items: center;
        height: 100%;
    }

    #player-album-art {
        z-index: -100;
        height: 280px;
        box-shadow: none;
        background: #000;
    }

    #album-art-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #album-art-wrapper img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        filter: brightness(1);
    }

    #album-art-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .player-display-song-artist {
        padding: 0 10px;
    }

    .player-display-song-artist>p {
        white-space: pre-wrap;
        font-weight: bold;
        text-shadow:
            0 0 20px #000,
            0 0 40px #000,
            0 0 80px #000,
            0 0 160px #000,
            0 0 320px #000,
            0 0 500px #000,
            0 0 1200px #000;
    }

    #player-display {
        position: absolute;
        width: 100%;
        z-index: 1000;
        background-color: transparent;
        top: 0;
        height: 280px;
        justify-content: space-between;
        text-align: center;
    }
}